.burger {
  display: none;
}

.menu {
  display: flex;
  gap: 20px;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 900px) {
  .burger {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .burger-line {
    width: 20px;
    height: 3px;
    background-color: #fff;
    margin-bottom: 6px;
  }

  .open div:nth-child(1) {
    transform: rotate(45deg);
    background-color: #000;
  }

  .open div:nth-child(2) {
    display: none;
  }

  .open div:nth-child(3) {
    transform: rotate(-45deg) translate(6px, -7px);
    background-color: #000;
  }

  .menu {
    display: none;
  }

  .show {
    position: fixed;
    display: flex;
    flex-direction: column;
    border: grey 2px solid;
    width: 50vw;
    height: 100vh;
    background-color: #fff;
    top: 0;
    left: 0;
    z-index: 1000;
    overflow-y: auto;
  }

  .close {
    position: absolute;
    top: 20px;
    right: 20px;
    z-index: 2;
  }
}