h1,
h2,
h3,
p {
  padding: 0 32px;
}

button {
  margin: 0 32px;
}

body {
  background-color: #000;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.burger {
  display: none;
}

.menu {
  display: flex;
  gap: 20px;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 900px) {
  .burger {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .burger-line {
    width: 20px;
    height: 3px;
    background-color: #fff;
    margin-bottom: 6px;
  }

  .open div:nth-child(1) {
    transform: rotate(45deg);
    background-color: #000;
  }

  .open div:nth-child(2) {
    display: none;
  }

  .open div:nth-child(3) {
    transform: rotate(-45deg) translate(6px, -7px);
    background-color: #000;
  }

  .menu {
    display: none;
  }

  .show {
    position: fixed;
    display: flex;
    flex-direction: column;
    border: grey 2px solid;
    width: 50vw;
    height: 100vh; 
    background-color: #fff;
    top: 0; 
  left:  0;
    z-index: 1000;
    overflow-y: auto;
  }

  .close {
    position: absolute;
    top: 20px;
    right: 20px;
    z-index: 2;
  }
}
